.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary);
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  color: white !important;
  max-width: 24px !important;
  font-size: 10px;
}
