.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: var(--background-light);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.chartWrapper {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  padding-right: 5px;
  min-height: 300px;
}

.green {
  color: var(--primary);
}

.red {
  color: var(--red);
}
